@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-600;
  }

  ::-webkit-scrollbar {
    @apply bg-transparent w-1 h-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-md;
  }
}

@layer components {
  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] hover:bg-opacity-30 rounded-full cursor-pointer 
    w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4
    transition duration-200 ease-out;
  }

  .pageContainer {
    @apply flex flex-col mx-auto max-w-[1400px] h-screen px-4 py-6 gap-y-10 border-gray-light;
  }

  .contentsContainer {
    @apply flex-1 flex flex-col gap-y-8 p-4 sm:ml-3 md:ml-0 xl:mx-auto xl:max-w-[1400px];
  }

  /*  
  ================================================================================================================================================================================================================================================================================================================================================
  DO 버튼
  ================================================================================================================================================================================================================================================================================================================================================ 
  */

  .btn-rounded {
    @apply border-2 border-gray-300 text-gray-400 rounded-full;
  }

  .btn-sm {
    @apply px-3 py-1 text-xs;
  }

  .btn-md {
    @apply px-4 py-2 text-sm;
  }

  .btn-hover-red {
    @apply hover:border-red-600 hover:bg-red-600 hover:text-white transform duration-200;
  }

  .btn-hover-gray {
    @apply hover:border-gray-400 hover:bg-gray-400 hover:text-white transform duration-200;
  }

  .btn-hover-blue {
    @apply hover:border-blue-600 hover:bg-blue-600 hover:text-white transform duration-200;
  }

  .btn-hover-gradient {
    @apply bg-gradient-to-r hover:from-red-400 hover:to-blue-400 hover:text-white transform duration-200;
  }

  .btn-outline-rounded {
    @apply btn-rounded btn-sm btn-hover-red lg:btn-md;
  }

  /*  
  ================================================================================================================================================================================================================================================================================================================================================
  DO 카드
  ================================================================================================================================================================================================================================================================================================================================================ 
  */

  .card-sm {
    @apply rounded-lg w-48 h-36;
  }

  .card-md {
    @apply rounded-lg w-64 h-36;
  }

  .card-full {
    @apply rounded-lg w-full h-36;
  }

  /*  
  ================================================================================================================================================================================================================================================================================================================================================
  DO 레이블
  ================================================================================================================================================================================================================================================================================================================================================ 
  */

  .label-bg-gray {
    @apply bg-gray-100 px-2 py-1 text-xs sm:text-sm rounded-lg uppercase;
  }

  /*  
  ================================================================================================================================================================================================================================================================================================================================================
  DO 기타
  ================================================================================================================================================================================================================================================================================================================================================ 
  */

  .circle-5 {
    @apply w-5 h-5 rounded-full;
  }

  .overlay {
    @apply fixed inset-0 bg-gray-900 bg-opacity-25 transform ease-in-out overflow-hidden z-50;
  }
}

@layer utilities {
  .center-xy {
    @apply flex items-center justify-center;
  }

  .center-xy-absolute {
    @apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 absolute;
  }

  /*  
  ================================================================================================================================================================================================================================================================================================================================================
  DO 밑줄
  ================================================================================================================================================================================================================================================================================================================================================ 
  */

  .underline-before {
    background-size: 0 0;
  }
  .underline-after {
    background-size: 100% 1.5px;
  }
  .bg-near-bottom {
    background-position: 50% 88%;
  }
  .growing-underline {
    @apply outline-none bg-no-repeat bg-near-bottom underline-before transition-all duration-200 focus:underline-after;
  }
  .growing-underline-gradient {
    @apply growing-underline bg-gradient-to-r from-red-400 to-blue-400;
  }
}
